* {
  margin: 0;
  padding: 0;
}
.bg-corn {
  background-color: cornsilk;
}
.bg-aqua {
  background-color: aqua;
}
.text-red {
  color: red;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-between {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.py-3 {
  padding: 15px 0;
}
.py-2 {
  padding: 10px 0;
}
.gap-5 {
  gap: 25px;
}
.gap-3 {
  gap: 15px;
}
header {
  height: 70px;
}
a {
  text-decoration: none;
}
nav ul li {
  list-style: none;
}
.hero-section {
  background-color: aquamarine;
  height: calc(100vh - 156px);
}
.hero-section h1 {
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
}
button {
  background-color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 50px;
  cursor: pointer;
}
